body {
	background: url(../stock/ress/fond-foret-sylvamap.jpg) center no-repeat;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
  }
  .clearfix:after {
	content: "";
	display: block;
	height: 0;
	width: 0;
	clear: both;
  }
  .admin-panel {
	width: 990px;
	margin: 50px auto;
  }
  /*slidebar*/
  .slidebar {
	width: 20%;
	min-height: 690px;
	float: left;
	border-right: 1px solid rgb(235, 235, 235);
	background-color: rgb(247, 247, 247);
  }
  .slidebar .logo {
	height: 145px;
	border-bottom: 1px solid rgb(235, 235, 235);
  }
  .slidebar ul {
	padding: 0;
	margin: 0;
  }
  .slidebar li {
	list-style-type: none;
	margin: 0;
	position: relative;
  }
  .slidebar li:before {
	content: "";
	font-family: "icomoon";
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	position: absolute;
	display: block;
	line-height: 40px;
	color: rgb(102, 102, 102);
	right: 20px;
	-webkit-font-smoothing: antialiased;
  }
  
  .slidebar ul a {
	color: rgb(140, 140, 140);
	text-decoration: none;
	font: 16px/40px helvetica, verdana, sans-serif;
	box-sizing: border-box;
	border-bottom: 1px solid rgb(235, 235, 235);
	display: block;
	box-shadow: inset 0 1px 0 rgb(255, 255, 255);
	text-indent: 20px;
	text-transform: capitalize;
  }
  .slidebar li:hover a {
	background-color: rgb(255, 255, 255);
	box-shadow: 1px 0 0 rgb(255, 255, 255), inset 5px 0 0 -1px #34623f;
  }
  /*main*/
  .main {
	float: left;
	width: 79%;
	height: 690px;
	background-color: rgb(255, 255, 255);
	position: relative;
	font-family: helvetica, verdana, sans-serif;
  }
  .main .topbar {
	border-bottom: 1px solid rgb(235, 235, 235);
	margin: 0;
	padding: 0;
  }
  
  .topbar li {
	float: right;
	list-style: none;
  }
  .topbar li:first-child {
	float: left;
  }
  .topbar a {
	font-family: "icomoon";
	display: block;
	line-height: 50px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	color: rgb(102, 102, 102);
	border-left: 1px solid rgb(235, 235, 235);
  }
  .topbar a:hover {
	background-color: rgb(247, 247, 247);
  }
  .topbar li:first-child a {
	border: none;
	border-right: 1px solid rgb(235, 235, 235);
  }
  /*mainContent*/
  .mainContent h4 {
	line-height: 1;
	font-size: 18px;
	margin: 1.3em 0 1em;
	margin-left: 17px;
  }
  .mainContent > div:target {
	opacity: 1;
	z-index: 7;
  }
  
  .mainContent > div {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	-ms-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
  }
  
  .mainContent > div:target {
	opacity: 1;
  }
  .mainContent h2 {
	margin: 1em 30px;
	color: #34623f;
	font-size: 20px;
  }
  .mainContent h2:before {
	font-family: "icomoon";
	content: attr(data-icon);
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 10px;
	-webkit-font-smoothing: antialiased;
  }
  
  #dashboard > div {
	border: 1px solid rgb(235, 235, 235);
	margin-left: 30px;
	float: left;
	border-radius: 5px;
	min-width: 345px;
	height: 111px;
	display: inline-block;
  }
  
  /*logo*/
  .logo img {
	width: 88px;
	height: 88px;
	display: inline-block;
	position: relative;
	left: 50%;
	top: 50%;
	margin: -45px 0 0 -45px;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 50%;
	background-color: rgb(214, 214, 214);
  }
  .logo img:before {
	width: 70px;
	height: 70px;
	font: 50px/70px helvetica, verdana, sans-serif;
	text-align: center;
	position: absolute;
	top: 8px;
	left: 8px;
	border-radius: 35px;
	border: 1px solid rgb(210, 210, 210);
	display: inline-block;
	background: -webkit-linear-gradient(
	  top,
	  rgb(255, 255, 255),
	  rgb(245, 245, 245)
	);
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(245, 245, 245));
	background: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(245, 245, 245));
	background: linear-gradient(top, rgb(255, 255, 255), rgb(245, 245, 245));
  }
  
  .statusbar {
	position: absolute;
	bottom: 0;
	border-top: 1px solid rgb(235, 235, 235);
	width: 100%;
	padding: 0;
	margin: 0;
  }
  .statusbar li {
	list-style: none;
  }
  .statusbar a {
	color: rgb(102, 102, 102);
	text-decoration: none;
	text-align: center;
	display: block;
  }
  .statusbar a:hover {
	background-color: rgb(247, 247, 247);
  }
  .statusbar .profiles-setting,
  .statusbar .logout {
	float: right;
  }
  .statusbar .profiles-setting a,
  .statusbar .logout a {
	font-family: "icomoon";
	width: 49px;
	height: 49px;
	line-height: 50px;
	border-left: 1px solid rgb(235, 235, 235);
  }
  @font-face {
	font-family: "icomoon";
	src: url("fonts/icomoon.eot");
	src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"),
	  url("fonts/icomoon.woff") format("woff"),
	  url("fonts/icomoon.ttf") format("truetype"),
	  url("fonts/icomoon.svg#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
  }
  
  .welcome-card {
	width: 600px;
	height: 100px;
	margin-top: 20%;
	margin-left: 8%;
	color: #fff;
	background-color: #001f24;
	padding: 40px;
	border-radius: 10px;
	cursor: pointer;
  }
  
  .profile-pic {
	color: transparent;
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: all 0.3s ease;
  }
  .profile-pic input {
	display: none;
  }
  .profile-pic img {
	position: absolute;
	object-fit: cover;
	width: 165px;
	height: 165px;
	box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
	border-radius: 100px;
	z-index: 0;
  }
  .profile-pic .-label {
	cursor: pointer;
	height: 165px;
	width: 165px;
  }
  .profile-pic:hover .-label {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10000;
	color: #fafafa;
	transition: background-color 0.2s ease-in-out;
	border-radius: 100px;
	margin-bottom: 0;
  }

  
  .profile-pic span {
	display: inline-flex;
	padding: 0.2em;
	height: 2em;
  }
  /* body {
	  height: 100vh;
	  background-color: #191815;
	  display: flex;
	  justify-content: center;
	  align-items: center;
  } */
  body a:hover {
	text-decoration: none;
  }
  

 