body {
  background-color: #34623f !important;
}

h2{
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  z-index: 7;
  color: white;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #34623f 50%, rgb(255, 255, 255) 50%);
  bottom: 0;
  left: -50%;
  opacity: .1;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}


@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}


/* 
.table-responsive {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  border: solid lightgrey 1px;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin: 5px;
  z-index: 1;
} */
