body {
  margin-left: 50px;
  margin-right: 50px;
}

.king {
  font-family: "Kings";
  color: #ffffff;
  background-color: #34623f;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 33px;
  width: 100%;
  padding-top: 10px;
  -webkit-text-stroke: thin;
  height: 55px;
}

.koho {
  font-family: "monospace";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 31px;
  color: rgb(75, 75, 75);
}

.ligne {
  border-color: rgb(75, 75, 75);
  width: 550px;
}

.ligne1 {
  border-color: #312B2D;
  width: 75px;
}

.ligne2 {
  border-color: #312B2D;
  width: 25px;
}

.ligne_texte {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  margin-bottom: 4px;
  justify-content: space-evenly;
  width: 100%;
}

.text {
  padding: 2.5%;
  overflow-wrap: scroll;
  display: inline-block;
  vertical-align: middle;
  font-family: "KoHo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 31px;
  color: #34623f;
  justify-items: center
}
.text-grid-1,.text-grid-2{
  width: 90%;
  text-align: center;

}


.container2 {
  width: 90%;
  height: 250px;
  overflow-x: scroll;
}
.margin {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  position: relative;
}
/* img{
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-left: 20px;
} */

.gallery {
  position: relative;
  width: 90%;
  /* max-width: 800px; */
  padding: 0 10;
}

.gallery_scroller {
  /* snap mandatory on horizontal axis  */
  scroll-snap-type: x mandatory;

  overflow-x: scroll;
  overflow-y: hidden;

  display: flex;
  align-items: center;

  height: 380px;
  grid-gap: 50px;
  /* Enable Safari touch scrolling physics which is needed for scroll snap */
}
.gallery_scroller::-webkit-scrollbar {
  display: none;
}
.gallery_scroller div {
  /* snap align center  */
  scroll-snap-align: center;
  margin: 10px;
  position: relative;
}

.gallery_scroller .imgSlider {
  border-radius: 10px;
  width: 100%;
  height: 300px;
}

.gallery_scroller div.colored_card {
  min-width: 20.5%;
  min-height: 88%;
  border-radius: 10px;
}

.gallery div.note {
  position: absolute;

  /* vertically align center */
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  position: absolute;

  font-size: 4em;
  color: white;
}

.gallery .btn {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  height: 30px;
  width: 30px;

  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 50% 50%;
  background-repeat: no-repeat;

  z-index: 1;
}

.gallery .btn.next {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M25.557 14.7L13.818 2.961 16.8 0l16.8 16.8-16.8 16.8-2.961-2.961L25.557 18.9H0v-4.2z" fill="%23FFF" fill-rule="evenodd"/></svg>');
  right: 10px;
}

.gallery .btn.prev {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M33.6 14.7H8.043L19.782 2.961 16.8 0 0 16.8l16.8 16.8 2.961-2.961L8.043 18.9H33.6z" fill="%23FFF" fill-rule="evenodd"/></svg>');
  left: 10px;
}

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
.snip1369 {
  height: 380px;
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  background: #34623f;
  text-align: left;
  color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
.snip1369 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.snip1369 > .imgSlider,
.snip1369 .image .imgSlider {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  max-width: 100%;
}
.snip1369 > .imgSlider {
  vertical-align: top;
  position: relative;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.6;
}
.snip1369 figcaption,
.snip1369 .image {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.snip1369 .image {
  position: absolute;
  top: 0;
  bottom: 25%;
  right: 0;
  left: 0;
  overflow: hidden;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 1px 0 rgba(255, 255, 255, 0.2);
}
.snip1369 .image .imgSlider {
  position: absolute;
  top: 0;
}
.snip1369 figcaption {
  position: absolute;
  top: 75%;
  bottom: 46px;
  left: 20px;
  right: 20px;
  border-bottom: 2px solid #ffffff;
  padding-top: 20px;
  z-index: 1;
}
.snip1369 h3,
.snip1369 p {
  margin: 0;
}
.snip1369 h3 {
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.snip1369 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 400;
  opacity: 0;
}
.snip1369 .read-more {
  display: block;
  opacity: 0;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 20px;
  color: #ffffff;
  right: 0;
  bottom: 0;
  font-weight: 500;
  position: absolute;
}
.snip1369 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.snip1369:hover .read-more,
.snip1369.hover .read-more,
.snip1369:hover figcaption,
.snip1369.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.snip1369:hover figcaption,
.snip1369.hover figcaption,
.snip1369:hover .image,
.snip1369.hover .image {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1369:hover figcaption,
.snip1369.hover figcaption {
  top: 50%;
}
.snip1369:hover .image,
.snip1369.hover .image {
  bottom: 50%;
}
.snip1369:hover p,
.snip1369.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.text-box-wrapper {
  top: 47%;
  left: 1em;
  right: 1em;
  text-align: center;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -130%);
}

.title {
  font: 600 48px "Kings";
  font-style: normal;
  letter-spacing: 0.02em;
  line-height: 1.11em;
  margin-bottom: 2rem;
  color: #fff;
  text-shadow: 0 0 2px rgb(0 0 0 / 50%);
}

.text-box-wrapper p {
  color: #fff;
  font-size: 20px;
  line-height: 2.5rem;
  font-weight: 600;
}

.banner-button {
  /* font-size: 1.3rem; */
  /* line-height: 3.75em; */
  /* height: 3.45em;
  margin-top: 2em; */
  padding: 0 2.5em;
  border-radius: 1.725em;
  display: inline-block;
  font-weight: 700;
  line-height: 3.75em;
  height: 3.45em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  background-color: #99621e;
  color: #fff;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.35s ease-out, padding 0.25s ease-out,
    margin 0.25s ease-out;
}
.banner-button:hover{
  transition: 0.5s;
  background-color: #fff;
}

body > div.about-me > div > div > a {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.imageAcc {
  background-size: cover !important;
  object-fit: cover !important;
}

.banner-me {
  margin-bottom: -9%;
}
