* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #1b1c1e;
    text-align: center;
  }
  
  h1 {
    font-family: "Playfair Display", serif;
    font-size: 59px;
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
  }
  
  p {
    color: #d2d2d2;
  }
  
  p {
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
  }
  
  a {
    color: #828282;
    font-style: italic;
  }
  
  a:hover {
    color: #fff;
  }
  