@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* === Variables of colors Define ===*/
:root {
  --white-color: #fff;
  --black-color: #3c4a57;
  --light-gray: #e4e8ee;
}

b{
  font-size: medium;
  color:#99621e;
}

.king {
  font-family: "Kings";
  color: #99621e;
  font-weight: 400;
  font-size: 55px;
  line-height: 45px;
  width: auto;
  height: auto;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo1 {
  width: 25%;
  border-radius: 50%;
}
.logoBox {
  margin-left: 5%;
}
.box {
  display: flex;
  align-items: flex-end;
}

.container1 {
  margin-top: 8%;
  margin-left: 60px;
  margin-right: 60px;
}

.koho {
  font-family: "monospace";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 31px;
  color: #000000;
}

.metier {
  display: flex;
  justify-content: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #99621e;
}

.boxcentre {
  margin-left: -18%;
}
.NOM {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #34623f;
}

.text {
  padding: 2.5%;
}

.logo2 {
  width: 48% !important;
  margin-right: -14rem;
  border-radius: 50%;
}
.logoBox2 {
  margin-left: 5%;
}
.box2 {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.container2 {
  margin-left: 60px;
  margin-right: 60px;
}

.koho {
  font-family: "monospace";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 31px;
  color: rgb(75, 75, 75);
}

.metier2 {
  display: flex;
  justify-content: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #99621e;
}

.boxcentre2 {
  margin-left: -10%;
}
.NOM2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #34623f;
}

.text2 {
  padding: 2.5%;
}

.wrapper .form {
  max-width: 350px;
  width: 100%;
  margin: auto;
}
.wrapper .form-group {
  margin-bottom: 15px;
}
.wrapper .form-group textarea {
  display: block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  padding: 11px 15px;
  height: 100px;
  border-radius: 5px;
  color: var(--black-color);
  border: 1px solid #34623f;
  box-shadow: none;
  width: 100%;
}
.wrapper .form-group input {
  display: block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  padding: 11px 15px;
  height: 48px;
  border-radius: 5px;
  color: var(--black-color);
  border: 1px solid #34623f;
  box-shadow: none;
  width: 100%;
}
.wrapper .form-group input:focus {
  outline: none;
}
.wrapper .form-group input::placeholder {
  color: var(--black-color);
  font-weight: 400;
  font-size: 14px;
}
.wrapper .btn {
  width: 100%;
  margin: 15px 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  padding: 12px 29px;
  height: 48px;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: #34623f;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
}
.wrapper .btn:focus {
  outline: none;
}
.wrapper .account-exist {
  color: var(--black-color);
  border-top: 1px solid var(--light-gray);
  padding-top: 20px;
  text-align: center;
}

/* === Responsive ===*/
@media (max-width: 1030px) {
  .wrapper::before {
    left: -25%;
    min-height: 60vh;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .wrapper {
    max-width: 550px;
  }
  .wrapper .headline h1 {
    font-size: 22px;
    line-height: 25px;
  }
}



.captcha-image {
  width: 160px;
  height: 45px;
  border: 1px;
}

.captchaInput {
  color: #000;
}

.rowCap {
  display: flex;
  flex-direction: column;
  /* align-content: space-around; */
  /* justify-content: flex-end; */
  align-items: center;
}

.CapValide {
  display: flex;
  align-items: center;
  margin-top: 9%;
}

.elem-group {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  margin-top: -2%;
  border: 1px solid #34623f;
  border-radius: 5px;
}

#sectionContact > div > form > div > div.elem-group > div.rowCap > i{
  
}
#msg{
  color: red;
}

/* .elem-group{
  display: none;
} */


.fa-redo:before {
    content: "\f01e" !important;
}