

footer {
  display: flex;
  width: 100%;
  height: 150px;
  background: url(../stock/ress/footer.webp) top center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}
.bigDivFooter {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  height: 90%;
}
#containerLeftFooter {
  height: 100%;
  width: 25%;
}
.classUlFooter {
  position: relative;
  left: -5%;
  top: 5%;
  display: flex;
  flex-direction: column;
}
.classUlFooter a:hover {
  color: #ffed47;
}
#containerMiddleFooter1 {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: auto;
  justify-content: space-around;
}
#containerMiddleFooter2 {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 100%;
}
.containerRightFooter {
  height: 50%;
  width: 100%;
}
.containerRightFooter p {
  font-size: 25px;
  position: relative;
}
.containerRightFooter a {
  text-decoration: none;
  color: #ffffff;
}
.divMiddleLink {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#divTopFooterKK {
  width: 100%;
  height: 20px;
  background-color: #181818;
}
.divMiddleCopyRight {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.divMiddleCopyRight p {
  color: white;
  position: relative;
}
#numFooter {
  text-align: center;
  top: 30%;
  width: 100%;
  color: #ffed47;
}
#adresseFooter {
  color: #ffed47;
  text-align: center;
  top: -20%;
  width: 100%;
}
.listFooter {
  top: 7%;
  position: relative;
}
.listFooter a {
  text-decoration: none;
  color: white;
}
.liFooter {
  list-style: none;
  white-space: nowrap;
}
#containerMiddleFooter {
  display: flex;
  justify-content: space-around;
}
.logoFooterLink {
  width: 3vw;
}

@media screen and (max-width: 500px) {
  .liFooter {
    display: none;
  }
  #containerMiddleFooter1 {
    position: relative;
    left: -100%;
    transform: scale(120%);
  }
  #divFooterRightContact a {
    position: absolute;
    top: -125%;
    left: -100%;
    /* white-space: nowrap; */
    font-size: 70%;
  }
  .divMiddleCopyRight p {
    position: relative;
    top: -45%;
    left: 0%;
    white-space: nowrap;
    font-size: 60%;
  }
  #containerMiddleFooter1 {
    flex-direction: column;
    top: 20%;
    left: -100%;
  }
}
@media screen and (max-width: 1200px) {
  .logoFooterLink {
    width: 5vw;
  }
}
