html {
	--s: 105px; /* control the size */
	background:
	  conic-gradient(from 75deg,#f8a941 15deg ,#e29734 0 30deg ,#0000 0 180deg,
								#e29734 0 195deg,#f8a941 0 210deg,#0000 0) 
		 calc(0.5*var(--s)) calc(0.5*var(--s)/0.577),
	  conic-gradient(#f8a941    30deg ,#ffc170 0 75deg ,#f8a941  0 90deg, #e29734 0 105deg,
	  #ffc170 0 150deg,#e29734 0 180deg,#ffc170 0 210deg,#f8a941  0 256deg,
					 #e29734 0 270deg,#f8a941  0 286deg,#e29734 0 331deg,#ffc170 0);
	background-size: var(--s) calc(var(--s)/0.577);
	/* 0.577=tan(30deg)*/
  }

body {
	/* background: url(../stock/ress/fond-foret-sylvamap.jpg) center no-repeat; */
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
  }
  .clearfix:after {
	content: "";
	display: block;
	height: 0;
	width: 0;
	clear: both;
  }
  .admin-panel {
	width: 990px;
	margin: 50px auto;
  }
  .form-size {
	width: 100%;
	height: 600px;
	overflow-y: scroll;
	border: solid lightgrey 1px;
	border-radius: 5px;
	background-color: #f5f5f5;
	margin: 5px;
	z-index: 1;
  }
  .div-input-product {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: row;
	margin: 10px;
  }
  .input-product {
	border: 1px lightgray solid;
	border-radius: 5px;
	width: 350px;
	height: 25px;
	margin-left: 10px;
	margin-right: 10px;
  }
  .textarea-product {
	border: 1px lightgray solid;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
  }
  .label-product {
	color: #001f24;
	font-size: x-large;
	text-align: left;
  }
  .div-carousel-product {
	width: 90%;
	height: 350px;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
	border: #001f24 dashed 2px;
  }
  .input-carousel {
	position: relative;
	width: 90%;
  }
  .error {
	text-align: center;
	color: #a81919;
  }
  .option {
	display: flex;
	flex-direction: column;
	height: 350px;
	width: 35%;
	border-right: lightgray solid 1px;
	justify-content: space-between;
  }
  .fleche-gauche {
	position: relative;
	transition: 1s;
	background-color: #001f24;
	width: 25px;
	height: 25px;
	color: #fff;
	justify-self: start;
	border: none;
  }
  .fleche-droite {
	position: relative;
  
	transition: 1s;
	background-color: #001f24;
	width: 25px;
	height: 25px;
	color: #fff;
	justify-self: start;
	border: none;
  }
  .div-textarea-product {
	margin: 10px;
	width: 90%;
	display: flex;
	flex-direction: column;
  }
  .compteur {
	position: relative;
	bottom: 47%;
	width: 30px;
	height: 20px;
	background-color: #001f24;
	color: white;
	text-align: center;
	border-radius: 50%;
	font-variant: all-small-caps;
  }
  
  .carrousel {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  .rendu-image {
	width: 65%;
  }
  
  /*slidebar*/
  .slidebar {
	width: 20%;
	min-height: 690px;
	float: left;
	border-right: 1px solid rgb(235, 235, 235);
	background-color: rgb(247, 247, 247);
  }
  .slidebar .logo {
	height: 145px;
	border-bottom: 1px solid rgb(235, 235, 235);
  }
  .slidebar ul {
	padding: 0;
	margin: 0;
  }
  .slidebar li {
	list-style-type: none;
	margin: 0;
	position: relative;
  }
  .slidebar li:before {
	content: "";
	font-family: "icomoon";
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	position: absolute;
	display: block;
	line-height: 40px;
	color: rgb(102, 102, 102);
	right: 20px;
	-webkit-font-smoothing: antialiased;
  }
  
  .slidebar ul a {
	color: rgb(140, 140, 140);
	text-decoration: none;
	font: 16px/40px helvetica, verdana, sans-serif;
	box-sizing: border-box;
	border-bottom: 1px solid rgb(235, 235, 235);
	display: block;
	box-shadow: inset 0 1px 0 rgb(255, 255, 255);
	text-indent: 20px;
	text-transform: capitalize;
  }
  .slidebar li:hover a {
	background-color: rgb(255, 255, 255);
	box-shadow: 1px 0 0 rgb(255, 255, 255), inset 5px 0 0 -1px #34623f;
  }
  /*main*/
  .main {
	float: left;
	width: 79%;
	height: 690px;
	background-color: rgb(255, 255, 255);
	position: relative;
	font-family: helvetica, verdana, sans-serif;
  }
  .main .topbar {
	border-bottom: 1px solid rgb(235, 235, 235);
	margin: 0;
	padding: 0;
  }
  
  .topbar li {
	float: right;
	list-style: none;
  }
  .topbar li:first-child {
	float: left;
  }
  .topbar a {
	font-family: "icomoon";
	display: block;
	line-height: 50px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	color: rgb(102, 102, 102);
	border-left: 1px solid rgb(235, 235, 235);
  }
  .topbar a:hover {
	background-color: rgb(247, 247, 247);
  }
  .topbar li:first-child a {
	border: none;
	border-right: 1px solid rgb(235, 235, 235);
  }
  /*mainContent*/
  .mainContent h4 {
	line-height: 1;
	font-size: 18px;
	margin: 1.3em 0 1em;
	margin-left: 17px;
  }
  
  .mainContent > div {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	-ms-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
  }
  
  .mainContent > div:target {
	opacity: 1;
	z-index: 7;
  }
  .mainContent h2 {
	margin: 1em 30px;
	color: #34623f;
	font-size: 20px;
  }
  .mainContent h2:before {
	font-family: "icomoon";
	content: attr(data-icon);
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 10px;
	-webkit-font-smoothing: antialiased;
  }
  
  /* #dashboard>div {
	  border: 1px solid rgb(235,235,235);
	  margin-left: 30px;
	  float: left;
	  border-radius: 5px;
	  min-width: 345px;
	  height: 262px;
	  display: inline-block;
  } */
  
  /*logo*/
  .logo a {
	width: 88px;
	height: 88px;
	display: inline-block;
	position: relative;
	left: 50%;
	top: 50%;
	margin: -45px 0 0 -45px;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 50%;
	background-color: rgb(214, 214, 214);
  }
  .logo a:before {
	content: "A";
	width: 70px;
	height: 70px;
	font: 50px/70px helvetica, verdana, sans-serif;
	text-align: center;
	position: absolute;
	top: 8px;
	left: 8px;
	border-radius: 35px;
	border: 1px solid rgb(210, 210, 210);
	display: inline-block;
	background: -webkit-linear-gradient(
	  top,
	  rgb(255, 255, 255),
	  rgb(245, 245, 245)
	);
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(245, 245, 245));
	background: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(245, 245, 245));
	background: linear-gradient(top, rgb(255, 255, 255), rgb(245, 245, 245));
  }
  
  .statusbar {
	position: absolute;
	bottom: 0;
	border-top: 1px solid rgb(235, 235, 235);
	width: 100%;
	padding: 0;
	margin: 0;
  }
  .statusbar li {
	list-style: none;
  }
  .statusbar a {
	color: rgb(102, 102, 102);
	text-decoration: none;
	text-align: center;
	display: block;
  }
  .statusbar a:hover {
	background-color: rgb(247, 247, 247);
  }
  .statusbar .profiles-setting,
  .statusbar .logout {
	float: right;
  }
  .statusbar .profiles-setting a,
  .statusbar .logout a {
	font-family: "icomoon";
	width: 49px;
	height: 49px;
	line-height: 50px;
	border-left: 1px solid rgb(235, 235, 235);
  }
  @font-face {
	font-family: "icomoon";
	src: url("fonts/icomoon.eot");
	src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"),
	  url("fonts/icomoon.woff") format("woff"),
	  url("fonts/icomoon.ttf") format("truetype"),
	  url("fonts/icomoon.svg#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
  }
  
  .welcome-card {
	width: 600px;
	height: 100px;
	margin-top: 20%;
	margin-left: 8%;
	color: #fff;
	background-color: #001f24;
	padding: 40px;
	border-radius: 10px;
	cursor: pointer;
  }
  
  /**************************************/
  /***************table****************/
  /**************************************/
  
  /*  */
  
  .containerTable {
	margin-right: auto;
	margin-left: auto;
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
  }
  
  /**************************************/
  /****************TABLE*****************/
  /**************************************/
  
  .table-responsive {
	/* overflow-x: auto; */
  }
  
  table {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-radius: 3px;
	color: #666;
	display: table;
	font-size: 13px;
	max-width: 100%;
	overflow-x: auto;
	position: relative;
	width: 100%;
  }
  
  table td,
  table th {
	border-top: 1px solid #eee;
	display: table-cell;
	padding: 12px;
	text-align: left;
	vertical-align: middle;
  }
  
  /* td{
	  
	} */
  table th {
	border-bottom: 2px solid #eee;
	/* vertical-align: middle;
	  min-width:10px */
  }
  
  .item-cell {
	padding: 2px 12px;
	/* use for cells containing buttons, sliders, etc. */
  }
  
  /**************************************/
  /************FORMS & INPUTS************/
  /**************************************/
  
  .form-control {
	margin: 0.5rem 0;
	position: relative;
  }
  
  /********** Search Bar **********/
  input[type="search"] {
	border-width: 2px;
	display: inline-block;
	padding-left: 2.5em;
	transition: width 0.4s ease-in-out 0s;
	width: 150px;
  }
  
  input[type="search"]:focus {
	width: 60%;
  }
  
  label[for="search"] {
	bottom: 6px;
	color: #999;
	left: 1em;
	position: absolute;
	z-index: 1;
  }
  
  [contenteditable]:hover {
	background-color: #f8f8f8;
	cursor: cell;
  }
  
  [contenteditable]:focus {
	background-color: #f8f8f8;
  }
  
  #voir-produit {
	width: 98%;
	height: 675px;
	overflow-y: scroll;
	border: solid lightgrey 1px;
	border-radius: 5px;
	background-color: #f5f5f5;
	margin: 5px;
	overflow-x: scroll;
	/* display: none; */
  }
  #voir-actualites {
	width: 98%;
	height: 658px;
	overflow-y: scroll;
	border: solid lightgrey 1px;
	border-radius: 5px;
	background-color: #f5f5f5;
	margin: 5px;
	overflow-x: scroll;
  }
  #modifier-produit {
	width: 98%;
	height: 675px;
	overflow-y: scroll;
	border: solid lightgrey 1px;
	border-radius: 5px;
	background-color: #f5f5f5;
	margin: 5px;
	overflow-x: scroll;
	/* display: none; */
  }
  
  #modifier-actualites {
	width: 98%;
	height: 675px;
	overflow-y: scroll;
	border: solid lightgrey 1px;
	border-radius: 5px;
	background-color: #f5f5f5;
	margin: 5px;
	overflow-x: scroll;
  }
  th {
	min-width: 60px;
  }
  td {
	border-right: 1px solid rgb(194, 188, 188);
  }
  
  .GeneratedTable {
	width: 98%;
	height: 600px;
	overflow-y: scroll;
	border: solid lightgrey 1px;
	border-radius: 5px;
	background-color: #f5f5f5;
	margin: 5px;
	z-index: 1;
  }
  
  .modif-img {
	width: 100%;
  }

  .projcard-container {
  }
  .projcard-admin{
	  width: 50%;
	  height: auto;
  }
  
  /* Actual Code: */
  .projcard-container,
  .projcard-container * {
	box-sizing: border-box;
  }
  .projcard-container {
	margin-left: auto;
	margin-right: auto;
	width: 740px;
  }
  .projcard {
	position: relative;
	width: 100%;
	height: 300px;
	margin-bottom: 40px;
	border-radius: 10px;
	background-color: #fff;
	border: 2px solid #ddd;
	font-size: 18px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
	transition: box-shadow 0.2s ease, transform 0.2s ease;
  }
  .projcard:hover {
	box-shadow: 0 34px 32px -33px rgba(0, 0, 0, 0.18);
	transform: translate(0px, -3px);
  }
  .projcard::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(-70deg, #424242, transparent 50%);
	opacity: 0.07;
  }
  .projcard:nth-child(2n)::before {
	background-image: linear-gradient(-250deg, #424242, transparent 50%);
  }
  .projcard-innerbox {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  }
  .projcard-img {
	position: absolute;
	height: 300px;
	width: 400px;
	top: 0;
	left: 0;
	transition: transform 0.2s ease;
  }
  .projcard:nth-child(2n) .projcard-img {
	left: initial;
	right: 0;
  }
  .projcard:hover .projcard-img {
	transform: scale(1.05) rotate(1deg);
  }
  .projcard:hover .projcard-bar {
	width: 70px;
  }
  .projcard-textbox {
	position: absolute;
	top: 7%;
	bottom: 7%;
	left: 430px;
	width: calc(100% - 470px);
	font-size: 17px;
  }
  .projcard:nth-child(2n) .projcard-textbox {
	left: initial;
	right: 430px;
  }
  .projcard-textbox::before,
  .projcard-textbox::after {
	content: "";
	position: absolute;
	display: block;
	background: #ff0000bb;
	background: #fff;
	top: -20%;
	left: -55px;
	height: 140%;
	width: 60px;
	transform: rotate(8deg);
  }
  .projcard:nth-child(2n) .projcard-textbox::before {
	display: none;
  }
  .projcard-textbox::after {
	display: none;
	left: initial;
	right: -55px;
  }
  .projcard:nth-child(2n) .projcard-textbox::after {
	display: block;
  }
  .projcard-textbox * {
	position: relative;
  }
  .projcard-title {
	font-family: "Voces", "Open Sans", arial, sans-serif;
	font-size: 24px;
  }
  .projcard-subtitle {
	font-family: "Voces", "Open Sans", arial, sans-serif;
	color: #888;
  }
  .projcard-bar {
	left: -2px;
	width: 50px;
	height: 5px;
	margin: 10px 0;
	border-radius: 5px;
	background-color: #424242;
	transition: width 0.2s ease;
  }
  
  .projcard-orange .projcard-bar {
	background-color: #ff5722;
  }
  .projcard-orange::before {
	background-image: linear-gradient(-70deg, #ff5722, transparent 50%);
  }
  .projcard-orange:nth-child(2n)::before {
	background-image: linear-gradient(-250deg, #ff5722, transparent 50%);
  }
  .projcard-brown .projcard-bar {
	background-color: #c49863;
  }
  .projcard-brown::before {
	background-image: linear-gradient(-70deg, #c49863, transparent 50%);
  }
  .projcard-brown:nth-child(2n)::before {
	background-image: linear-gradient(-250deg, #c49863, transparent 50%);
  }
  .projcard-grey .projcard-bar {
	background-color: #424242;
  }
  .projcard-grey::before {
	background-image: linear-gradient(-70deg, #424242, transparent 50%);
  }
  .projcard-grey:nth-child(2n)::before {
	background-image: linear-gradient(-250deg, #424242, transparent 50%);
  }
  .projcard-customcolor .projcard-bar {
	background-color: var(--projcard-color);
  }
  .projcard-customcolor::before {
	background-image: linear-gradient(
	  -70deg,
	  var(--projcard-color),
	  transparent 50%
	);
  }
  .projcard-customcolor:nth-child(2n)::before {
	background-image: linear-gradient(
	  -250deg,
	  var(--projcard-color),
	  transparent 50%
	);
  }
  .projcard-description {
	z-index: 10;
	font-size: 15px;
	color: #424242;
	/* height: 125px; */
	overflow: hidden;
	text-overflow: ellipsis;
  }
  .projcard-tagbox {
	position: absolute;
	bottom: 3%;
	font-size: 14px;
	cursor: default;
	user-select: none;
	pointer-events: none;
  }
  .projcard-tag {
	display: inline-block;
	background: #e0e0e0;
	color: #777;
	border-radius: 3px 0 0 3px;
	line-height: 26px;
	padding: 0 10px 0 23px;
	position: relative;
	margin-right: 20px;
	cursor: default;
	user-select: none;
	transition: color 0.2s;
  }
  .projcard-tag::before {
	content: "";
	position: absolute;
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	height: 6px;
	left: 10px;
	width: 6px;
	top: 10px;
  }
  .projcard-tag::after {
	content: "";
	position: absolute;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #e0e0e0;
	border-top: 13px solid transparent;
	right: -10px;
	top: 0;
  }
  
  .boxDA {
	display: flex;
	justify-content: space-between;
	margin: 1%;
	margin-right: 2.3%;
  }
  
  .date {
	color: #888;
  }


  