body{
  clear: none;
}
.product-image {
  float: left;
  width: 20%;
}
.product-details {
  float: left;
  width: 37%;
}
.product-price {
  float: left;
  width: 12%;
}
.product-quantity {
  float: left;
  width: 10%;
}
.product-removal {
  float: left;
  width: 9%;
}
.product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}
/* This is used as the traditional .clearfix class */
.group:before,
.shopping-cart:before,
.column-labels:before,
.product:before,
.totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  content: "";
  display: table;
}
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  clear: both;
}
.group,
.shopping-cart,
.column-labels,
.product,
.totals-item {
  zoom: 1;
}
/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before,
.product .product-line-price:before,
.totals-value:before {
  content: "$";
}
/* Body/Header stuff */
body {
  /* padding: 0px 30px 30px 20px; */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-weight: 100;
}
h1 {
    font-family: "Kings";
      color: #ffffff;
      background-color: #34623f;
      text-align: center;
      font-weight: 400;
      font-size: 40px;
      line-height: 33px;
      width: 100%;
      padding-top: 10px;
      -webkit-text-stroke: thin;
      height: 55px;
      margin-bottom: 3%;
    
}
label {
  color: #aaa;
}
.cart{
  display: flex;
  justify-content: space-between;
}
.shopping-cart {
  grid-template-columns: 750px;
  display: grid;
  margin-top: 50px;
  padding: 0px 30px 30px 20px;
}
/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.column-labels .product-image,
.column-labels .product-details,
.column-labels .product-removal {
  /* text-indent: -9999px; */
}
/* Product entries */
.product {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.product .product-image {
  text-align: center;
}
.product .product-image img {
  width: 100px;
  background-position: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  transform: scale(1.2);
}

.product .product-details .product-title {
  margin-right: 20px;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}
.product .product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}
.product .product-quantity input {
  width: 40px;
}
.product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #34623f;
  color: #fff;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  font-size: 12px;
  border-radius: 3px;
}
.product .remove-product:hover {
  background-color: #3c804b;
}
/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}
.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}
.totals .totals-item-total {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}
.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #34623f;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}
.checkout:hover {
  background-color: #494;
}
/* Make adjustments for tablet */
@media screen and (max-width: 1050px) {
  .cart{
    display: initial;
  }
}
@media screen and (max-width: 650px) {

  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
    display: initial;
  }
  .column-labels {
    display: none;
  }
  .product-image {
    float: right;
    width: auto;
    
  }
  .product-image img {
    margin: 0 0 10px 10px;
  }
  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
  .product-price {
    clear: both;
    width: 70px;
  }
  .product-quantity {
    width: 100px;
  }
  .product-quantity input {
    margin-left: 20px;
  }
  .product-quantity:before {
    content: "x";
  }
  .product-removal {
    width: auto;
  }
  .product-line-price {
    float: right;
    width: 70px;
  }
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {
    float: right;
  }
  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }
  .product .product-line-price:before {
    content: "Item Total: $";
  }
  .totals .totals-item label {
    width: 60%;
  }
  .totals .totals-item .totals-value {
    width: 40%;
  }
}

.containerAAA {
  /* Rectangle 3017 */
  display: flex;
  justify-content: space-evenly;
  width: 329px;
  height: 81px;
  align-items: center;
}

.containerDetail {
  /* Rectangle 3015 */

  box-sizing: border-box;

  position: absolute;
  width: 331px;
  height: 181px;

  background: #ffffff;
  border-radius: 25px;
}

.box1 {
  display: flex;
  flex-direction: column;
  line-height: 0px;
}

.box2 {
  display: flex;
  flex-direction: column;
  line-height: 0px;
}

#parag::before {
  /* Détail de ma commande */
  text-align: center;
  font-family: "KoHo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 0px;
  content: 'Récapitulatif de ma commande';
  color: #312B2D;
}

.btn {
  width: 100%;
  margin: 15px 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  padding: 12px 29px;
  height: 48px;
  text-transform: uppercase;
  color: white;
  background-color: #34623f;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
}
.btn:focus {
  outline: none;
}

.total,
.promo {
  /* Total: */

  font-family: "KoHo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  color: #312B2D;
}
.totals-value {
  /* 19$ */

  font-family: "KoHo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  color: #99621e;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.border-top{
  border-top: solid darkgray 1px;
}

.prix3 {
  /* -9$ */

  font-family: "KoHo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #991e1e;
}

#centrecontainer{
  padding: 0px 30px 30px 20px;
}

.info{
  margin: 0px 30px 0px 20px;
  padding: 10px 10px 10px 10px;
  width: 475px;
  height: auto;
  /* border: darkgray solid 1px; */
  background-color: rgb(251, 251, 251);
  box-shadow: 2px 2px 5px darkgray;
  border-radius: 15px;
  position: relative;
  transition: 0.5s;
}
.info:hover{
  transition: 0.5s;
  box-shadow: 5px 5px 10px darkgray;
  transform: perspective(500px) translateZ(10px) ;
}





/* PanierVide */

.empty-cart h2 {
  line-height: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.empty-cart p {
  line-height: 2em;
  max-width: 600px;
  margin: auto;
}

.empty-cart {
  text-align: center;
}

.container p.return-to-shop {
  text-align: center ;
  padding-bottom: 80px;
}
.empty-cart-header {
  float: right;
  margin-top: -50px;
  position: relative;
}

.empty-cart-icon {
  display: inline-block;
  line-height: initial;
      font-size: 40px;
      color: #2ea3f3;
      border: 2px solid #2ea3f3;
      border-radius: 50%;
      padding: 30px;
      margin-bottom: 20px;
}


.buttonContinuer{
  width: 20%;
  margin: 15px 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  padding: 12px 29px;
  height: 48px;
  text-transform: uppercase;
  color: white;
  background-color: #34623f;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
}

.buttonContinuer:focus {
  outline: none;
}

.h2RED{
  color: red;
}

#bodyOfPaniervide{
  background-image: url(../stock/ress/91250.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}