#main-navbar {
  border-bottom: 1px solid rgb(219, 213, 213);
  height: 75px;
}
a:hover {
  transition: 0.5s;
  color: #a80011 !important;
}
a{
  transition: 0.5s;
}

.planteraImg {
  width: 235px;
  /* height: 12% !important; */
  object-fit: cover !important;
  margin-left: -9%;

}
.nav-link {
  padding-right: 4rem !important;
}
.cover {
  position: relative;
  z-index: 0;
  width: 100%;
  background: #000000;
}
.phone {
  z-index: 1;
  font-weight: 200;
}
.phone i {
  color: rgb(255, 255, 255);
}
.phone a {
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: bold;
}
.reg {
  width: 50%;
  text-align: right;
}
.reg a {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

/*==========Navbar=============*/
.bg-color {
  background: #fffffffb;
}
.navbar-brand {
  color: #f8aa02;
  font-weight: bold;
  font-size: 35px !important;
}
.nav-link {
  /* Accueil */

  font-family: "KoHo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #312B2D;
}
/* panier*/
#main-navbar > div > div.order-lg-last.btn-group > a > svg {
  color: #34623f !important;
}

#main-navbar > div > div.order-lg-last.btn-group > a > i:hover {
  color: #34623f !important;
}

#main-navbar > div > div.order-lg-last.btn-group > a > svg:hover {
  color: #a80011 !important;
}

.btn-group {
  color: #34623f !important;
}
.navbar-toggler i {
  color: #99621e;
}
/*========End of Navbar===========*/
/*==========Hero Section===========*/
#hero {
  display: table;
  width: 100%;
  height: 35vh;
  background: url(../stock/ress/arriére-plan-home.jpg) top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero .hero-logo {
  margin: 20px;
  max-width: 100%;
}
#hero .hero-container {
  background: rgba(0, 0, 0, 0.2);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
#hero h1 {
  margin: 30px 0 10px 0;
  font-weight: bold;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .planteraImg {
    margin-left: -4%;
    width: 188.5px !important;
  }
}
#hero h2 {
  color: #fff;
  margin-bottom: 50px;
  font-style: italic;
}
@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .nav-link{
    border-bottom: darkgray 1px solid;
  }
  a.nav-link:hover{
    background-color: #A50512;
    color: white !important;
    transition: 0.5s;
  }
}
#hero .actions a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}
#hero .btn-get-started {
  background: #ebe703;
  border: 2px solid #a85303;
  color: #fff;
}
#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  font-style: italic;
}

#main-navbar > div > div.order-lg-last.btn-group > a > i {
  color: #34623f !important;
}

.mobile{
  z-index: 1;
  background: rgb(255, 255, 255);
  text-align: center;
}
.count{
  width: 20px;
  height: 20px;
  background-color:#d95b67;
  border-radius:50%;
  color: white;
  transition: 0.5s;
}

